name: Code Style

on:
  push:
    paths:
      - '**.php'
      - 'code-style.yml'

permissions:
  contents: write

jobs:
  code-style:
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    name: "Laravel Pint (Style)"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: "Laravel Pint"
        uses: aglipanci/laravel-pint-action@2.6
        with:
          preset: laravel

      - name: Commit changes to GitHub
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Fix styling
